<% makaleler.forEach((makale) => { %>
    <div class="row justify-content-center mb-5">

        <div class="col-md-6">

            <%- include('../partials/_makale_card.ejs',{makale}) %> 

        </div>

    </div>
<% }) %> 